body {
	background-size: cover;
	background: url(../images/newbathroom.jpg) fixed;
	text-align: center;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
h1 {
	font-family: 'Playfair Display SC', Serif;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-weight: bolder;
	text-decoration: none;
	font-size: 3em;
	color: #03396c;
	padding: .25em 0em;
	background-color: ;
	border-radius: 2em;
	text-align: left;
	display: ;
	margin: 0em 70% 0em 3em;
}
#websitelogo img {
	width: 10%;
	display: inherit;
	float: left;
}
h2 {
	font-family: 'Herr Von Muellerhoff', cursive;
	font-weight: ;
	font-size: 2em;
	text-align: left;
	text-decoration: none;
	color: #005b96;
	background-color: ;
	position: relative;
	line-height: 1.15em;
	border: 2em;
	border-radius: .2em
	padding: .3em
	margin left: 1em;
}
hr {
	margin: 1em 1em 0 1em;
	color: #50C878;
}
h3 {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: #FFFDD0;
	font-family: 'Herr Von Muellerhoff', cursive;
	text-decoration: none;
	font-weight: bolder;
	font-size: 4em;
	line-height: 1.15em;
	border-radius: 2em;
	text-align: left;
}
.outframe {
		border: 2em solid #Ecd5A7;
		padding: 2em 2em;

}
.inframe {
	}
h4 {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: #FFFA;
	font-weight: bold;
	font-style: italic;
	font-size: 2em;
	padding: 3em;
}
h5 {
	font-family: "El Messiri", sans-Serif;
	color: #50C878;
	font-style: italic;
	text-decoration: underline;
	font-size: 1.2em;
	background-color: #FFFD;
	border-radius: 1em;
	margin: .2em 8em .2em 8em;
	padding-left: .5em;
	text-align: center;
	padding-bottom: 3em;
}
p {
	color: #FFFD;
	font-family: 'El Messiri', sans-Serif;
	font-size: 1.5em;
	text-align: left;
	position: relative;
	line-height: 1.15em;
	border-radius: 2em
	padding: 1em;
}
figcaption {
	font-family: "El Messiri", sans-Serif;
	color: #50C878;
	font-style: italic;
	text-decoration: underline;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	background-color: #EEE
}
header {
	background-color: #FFFDD0;
	border:1px black solid;
	padding: .1em;
	padding-left: 2em;
}
nav {
	background-color: #b3cde0;
	border: 1px black solid;
	padding: 20px;
}
aside {
	background-color: #FFC675;
	border:1px black solid;
	padding: 1em;
}
article  {
	background-color: #E89C6C;
	border:1px black solid;
	padding: 1em;
}
section  {
	background-color: #FFE2B8;
	border:1px black solid;
	padding: 1em;
}
footer {
	background-color: #FFE2B8;
	border:1px black solid;
	padding: 1em;
}
#two_column {
	background-color: #005b96;
	border: 1px black solid;
	padding: 2em;
}
#social {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 1em;
	float: none;
	width: 100%;
	height: 100%;
}
#blog {
	background-color: #6497b1;
	border: 1px black solid;
	padding: 1em;
	float: none;
	width: 100%;
	height: 100%;
}
#rating1 {
	float: left;
	width: 100%;
}
#rating1 img {
	float: left;
	width: 15%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#blogpic1 img {
	float: right;
	border: 2em solid #Ecd5A7;
	padding:;
	border: .3em solid #000A;
}
#blogtext1 {
	padding: 2em 1em 2em 1em;
	display: inline;
}
#blogpic2 {
	padding-bottom: 10em
}
#blogtext1 {
	padding-bottom: 8em;
}
#blogtext2 {
	padding-bottom: 4em;
}


@media (max-width: 989px), (max-height: 415px) {
	body {
		background: url(../images/rbbackgroundmobile.png);
		background-color: #EEEA;
		background-size: fill;
}
h1 {
}
p,h3 {
	}
#social {
	float: none;
	width: 100%;
}
#blog {
	float: none;
	width: 100%;
}
#websitelogo img {
	width: 15%;
	display: inherit;
	float: left;
}
