body {
	background-size: cover;
	background-color: #CCCE;
	text-align: center;
	background: url(../images/rbbackgrounddesktop.png) no-repeat center fixed;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
h1 {
	font-family: 'Playfair Display SC', Serif;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-weight: bolder;
	text-decoration: underline;
	font-size: 6em;
	color: #FFFe;
	position: relative;
	margin: .2em;
	margin-top: 1em;
	padding-bottom: .5em;
	line-height: 1.2em;
	background-color: #50C878;
	border-radius: 2em;
}
h2 {
	font-family: 'El Messiri', sans-serif;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-weight: bold;
	font-size: 2.5em;
	text-decoration: none;
	color: #FFFE;
	background-color: #4448;
	position: relative;
	padding-top: .5em;
	padding-bottom: .5em;
	line-height: 1.15em;
	margin: 2em;
	margin-top: 1em;
	margin-bottom: 3em;
	border: 2em;
	border-radius: .2em
}
hr {
	margin: 1em 1em 0 1em;
	color: #50C878;
}
h3 {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: #FFFe;
	font-family: "Playfair Display SC", Serif;
	text-decoration: underline;
	font-weight: bolder;
	font-size: 2.9em;
	line-height: 1.15em;
	border-radius: 2em;
	padding-bottom: 3em;
}
.outframe {
		border: 2em solid #Ecd5A7;
		padding: 2em 2em;

}
.inframe {
		border: .3em solid #000A;
	}
h4 {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: #FFFA;
	font-weight: bold;
	font-style: italic;
	font-size: 2em;
	padding: 3em;
}
h5 {
	font-family: "El Messiri", sans-Serif;
	color: #50C878;
	font-style: italic;
	text-decoration: underline;
	font-size: 1.2em;
	background-color: #FFFD;
	border-radius: 1em;
	margin: .2em 8em .2em 8em;
	padding-left: .5em;
	text-align: center;
	padding-bottom: 3em;
}
p {
	color: #FFFD;
	font-family: 'El Messiri', sans-Serif;
	font-size: 1.5em;
	text-align: left;
	position: relative;
	line-height: 1.15em;
	border-radius: 2em
}
figcaption {
	font-family: "El Messiri", sans-Serif;
	color: #50C878;
	font-style: italic;
	text-decoration: underline;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	background-color: #EEE
}
header {
	background-color: #FFED74;
	border:1px black solid;
	padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px
}
aside {
	background-color: #FFC675;
	border:1px black solid;
	padding: 1em;
}
article  {
	background-color: #E89C6C;
	border:1px black solid;
	padding: 1em;
}
section  {
	background-color: #FFE2B8;
	border:1px black solid;
	padding: 1em;
}
footer {
	background-color: #FFE2B8;
	border:1px black solid;
	padding: 1em;
}
#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 2em;
}
#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 1em;
	float: left;
	width: 30%;
	height: 100%;
}
#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 1em;
	float: right;
	width: 50%;
	height: 100%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#blogpic1 {
	padding: 8em 1em;
}
#blogtext1 {
	padding: 2em 1em 2em 1em;
}
#blogpic2 {
	padding-bottom: 10em
}
#blogtext1 {
	padding-bottom: 8em;
}
#blogtext2 {
	padding-bottom: 4em;
}


@media (max-width: 989px), (max-height: 415px) {
	body {
		background: url(../images/rbbackgroundmobile.png);
		background-color: #EEEA;
		background-size: fill;
}
h1 {
	font-size: 550%;
}
p,h3 {
	font-size: 200%;
}
}