style.css

#wrapper {
	width: 90%;
	margin: auto;
}


header {
	font-weight: bolder;
	color: #FD9E6B; 
	background-color: #323232;
	font-size: 35pt;
	text-align: center;
	font-family: 'Bungee Hairline', cursive;
	margin-bottom: .25em;
}
h1 {
	font-size: 130%;
}
header span {
	font-size: 50%;
}
h2 {
	text-align: left;
	padding-left: 5%;
	padding-top: .5%;
	padding-bottom: .5%;
}

body {
	background-color: #000;
}
nav figure img { 
	width: 18%;
	float: none;
	margin: .5% 35% .5% 45%;
	position: absolute;
	display: block;

 }
 #smallbass {
 	width: 12em;
 	float: none;
 	position: relative;
 	display: block;
 	margin-left: 30em;
 	transform
 }
 nav { 
 	background-color: #000;
 	height: 100%;
 }

 nav.homemenubutton {
 	float: left;
 	display: inline;
 }
 nav ul {
 	margin-top: 8%;
 }
 nav ul li {
 	margin: 1em;
 }
 nav ul li a {
 	font-family: 'Major Mono Display', monospace;
 	font-size: 14pt;
 	border: .2em #CECECE solid;
 	display: inline;
 	padding: 1em;
 	border-radius: 3em;
 	text-decoration: none;
 	color: #FD9E6B;
 	background-color: #323232;
 }
 nav ul li a:hover {
 	color: #CECECE;
 	background-color: #FD9E6B;
 	transition-duration: 1s;

 }
 #serviceshome { 
 	margin: 2% 40% 2% 25%; 
 }
 #servicetext p {
 	font-size: 150%;
 }
 #bloghome{
 	margin: 10% 50% 2% 25%;
 }
 #abouthome {
 	margin: 10% 35% 2% 30%;
 }
#navwrap {
	margin-bottom: 1em;
}
#navholder {

}
#navholder div a {
	float: left;
	font-family: 'Major Mono Display', monospace;
 	font-size: 14pt;
 	border: .2em #CECECE solid;
 	display: inline;
 	padding: 1em;
 	border-radius: 3em;
 	text-decoration: none;
 	color: #FD9E6B;
 	margin: 0 .5em 0 .5em;
}
#navholder div a:hover {
 	color: #323232;
 	background-color: #CECECE;
 	transition-duration: 1s;
 }

aside {
 	padding: 2em;
 	background-color: #CECECE;
 	padding-bottom: 6em;
 	margin-top: auto;
 	margin-left: auto;
 	margin-right: auto;
 }
 h4 {
 	color: #CECECE;
 }
article {
 	min-height: 30em;
 }
 #servicenav {
 	margin-left: 10%;
 }
 #servicenav div {
 	float: none;
 	display: block;
 	margin: auto;
 	margin-bottom: 10em;
 }
 #servicenav img {
 	width: 7%;
 	margin: 0em 9% 4% 9%;
 	float: left;
 	padding: 3%;
 	background-color: #CECECE;
 	border-radius: 3em;
 	border: .1em #000 solid;
 	display: block;
 }
 #servicenav img:hover {
 	background-color: #FD9E6B;
 	transition-duration: 1s;
 }
 #servicecaption figcaption {
 	font-size: 16pt;
 	font-weight: bold;
 	font-family: 'Bungee Hairline', cursive;
 	float: left;
 	display: block;
 	color: #CECECE;
 	padding: 3%;
 }
  #servicecaption h3 {
  	font-size: 24pt;
  	color: #CECECE;
 	float: left;
 	display: inline;
 	margin: 3% 4% 3% 4%;
 	text-align: center;
 	
 }
 article p {
 	font-size: 18pt;
 	line-height: 1.75em;
	padding: 4em;
	display: block;
	color: #CECECE;
	border-radius: 3em;
	margin: 1%;
	font-family: "Noto Serif JP", serif;
}
 #servicetext p {
 	padding-bottom: 10%;
 	padding-top: 15%
 	margin: 4% 6% 4% 6%;
 	margin-top: 3%;
 	display: inline;
 }
 #textwrapper div { 
 	margin: 4em; }
 #servicecaption div {
 	margin: 5%;
 }
 #left figure {
 	width: 15%;
 	margin: 0em 8% 3em 8%;
 	float: right;
 	padding: 3%;
 	background-color: #CECECE;
 	border-radius: 3em;
 	border: .1em #000 solid;
 }
 #hatlogo img {
 	width: 15%;
 	margin: 0em 8% 3em 8%;
 	float: right;
 	padding: 3%;
 	background-color: #CECECE;
 	border-radius: 3em;
 	border: .1em #000 solid;
 }
 article {
 	margin-top: 6em;
 	background-color: #323232;
 	padding: 1%;
 }
 
#youtubewrap iframe {
	display: inline;
	float: none;
	margin: 0 25% 0 12%;
	width: 70%;
}
section {
 	margin-top: 6em;
 	background-color: #323232;
 	padding: 1%;
 }
 section p {
 	font-size: 18pt;
 	line-height: 1.75em;
	padding: 2em;
	display: block;
	color: #CECECE;
	border-radius: 3em;
	margin: 2%;
	font-family: "Noto Serif JP", serif;
	padding-top: 1%;
}
p span { 
	background-color: #FD9E6B;
	color: #323232; 
	border-radius: 4pt;
	padding: 2pt;
}
h3 {
	font-family: 'Major Mono Display', monospace;
	font-size: 23pt;
	margin: 2em 15% 4% 15%;
	text-align: left;
	color: #FD9E6B;
}
h4 {
	font-family: 'Bungee Hairline', cursive;
	margin: 1em 15% .5em 10%;
	font-size: 28pt;
	font-weight: bold;
}
h4 span {
	font-size: 30%;
}
h5 {
	font-family: 'Noto Serif JP', serif;
	font-weight: bold;
	font-size: 1.5em;
	margin: .5em;
	text-align: center;
	line-height: 3em;
	margin-right: 1em;
}
hr { 
	margin-top: 2em;  
}
#follow { 
	color: #323232;
	font-family: 'Major Mono Display', monospace;
	line-height: 1em;
 }
#username {
 	background-color: #FEB06A;
 	line-height: 1em;
 	border-radius: .5em;
 	padding: 1em;
 	margin-bottom: 2em;
 }
 #linklogos img{
	width: 10%;
	display: inline-block;
	float: left;
	margin: 0em 4% 0em 4%;
	background-color: #323232;
	border-radius: .5em;
}
#linklogos img:hover {
	color: #323232;
	background-color: #CECECE;
	transition-duration: 1.5s;
}
#linklogos {
	margin: 5% 20% 5% 25%;
	float: none;
}
figcaption {
	font-family: "Sawarabi-Gothic", sans-serif;
	text-align: center;
	padding-bottom: 2em;
	background-color: #FEB06A;
 	line-height: 1em;
 	border-radius: .5em;
 	padding: 1em;
 	margin-bottom: 2em;
}
 footer {
 	background-color: #32323299;
 }

 h6 {
 	padding: 3em;
 	font-family: 'Libre Barcode 128 Text', cursive;
 	font-size: 14pt;
 	text-align: center;
 	color: #CECECE;
 }
 #notelogo figure {
 	float: none;
 	display: inline;
 }
 #right {
	padding: 1em;
	float: right;
	width: 32.5%;
	height: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	background-color: #CECECEAA;
}

#left {
	padding: 1em;
	float: left;
	width: 60%;
	height: auto;
	margin-left: auto;
	margin-bottom: auto;
	min-height: 800px;
	margin-top: auto;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	margin-top: 4em;
}
#email a {
 	background-color: #CECECE55;
 	color: #FD9E6B;
 	line-height: 1em;
 	border-radius: .5em;
 	padding: 1em;
 	margin-bottom: 2em;
 	font-family: 'Major Mono Display', monospace;
 }
 #email a:hover {
 	color: #CECECE;
 	background-color: #FD9E6B;
 	transition-duration: 1s;
 }
 #biopic img {
 	float: right;
 	border: .5em black solid;
 	margin: 1em;
 }
 #livepic1 img {
 	margin: auto;
 }
 #right img {
 	margin: auto;
	margin-left: 1%;
	border: .2em black solid;
}
#right iframe {
	margin: auto;
	width: 100%;
}
#right img {
	margin: auto;
	width: 100%;
}
@media only screen and (max-width: 1210px) {

	#servicecaption h3 {
		font-size: 20pt;
	}

	}
@media only screen and (max-width: 993px) {

	h1 {
		font-size: 70%;
	}

	#linklogos img {
		width: 12%;
	}
	 #servicecaption h3 {
		font-size: 17pt;
	}

	
}
@media only screen and (max-width: 904px) {

	#biopic img {
		width: 35%;
		float: left;
	}
	#servicecaption h3 {
		font-size: 15pt;
	}
}
@media only screen and (max-width: 890px) {
	h2 {
 		font-size: 70%;
 	} 
 	#left {
 		float: none;
 		margin: auto;
 		width: auto;
 	}
 	#right {
 		float: none;
 		margin: auto;
 		width: 90%;
 	}
 	iframe {
 		width: 60%;
 		padding-top: 5%;
 	}

nav figure img { 
	width: 21%;
}
#smallbass {
 	width: 23%;
 	float: none;
 	margin-left: 70%;
 	margin-right: 5%;
 	transform: rotate(45deg);
 }

}
@media only screen and (max-width: 794px) {

	#navwrap ul li a {
		font-size: 85%;
	}
	#navholder div a {
		font-size: 85%;
		}

	}
@media only screen and (max-width: 756px) {

	#biopic img { 
	float: none;
	margin: 0 25%;
}

} 
@media only screen and (max-width: 745px) {

	#servicecaption h3 {
		font-size: 13pt;
	}
	#servicecaption h3 { 
		margin: 1% 2%;
	 }
	#servicetext p {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	article p {
		margin: 2%;
		padding-bottom: 3%;
		margin-bottom: 2%;
	}
}
@media only screen and (max-width: 645px) {

	h1 {
		font-size: 65%;
	}
	h2 {
		font-size: 65%;
	}
	}
@media only screen and (max-width: 600px) {

	#smallbass {
		margin-left: 80%;
		margin-right: 2%;
		}	
	section {
		margin-top: 4em;
	}
	article {
		margin-top: 4em;
		padding-bottom: 4%;
	}
	h2 span {
		visibility: hidden;
	}
	}
@media only screen and (max-width: 557px) {

	#servicecaption h3 {
		font-size: 10pt;
	}

	#smallbass {
		visibility: hidden;
	}

	nav figure img {
		margin: .5% 20% .5% 60%;
	}
}
	article p {
		padding: 4%;
		padding-bottom: 10%; 
		margin: 1%;
	}
	#servicetext p {
		margin: 1%;
	}
	section p {

	}
@media only screen and (max-width: 420px) {
	#servicecaption h3 {
		font-size: 8pt;
	}
}
@media only screen and (max-width: 350px) {
	#navholder div a {
		font-size: 65%;
	}
	#servicecaption h3 {
		font-size: 7pt;
	}
}
@media only screen and (max-width: 300px) { 
		#servicecaption h3 {
		font-size: 6pt;
	}

	 }
@media only screen and (max-width: 284px) {

	#navwrap ul li a {
		font-size: 60%;
}
#subnav div a {
		font-size: 35%;
		padding: .2em;
		margin: .2em;
		}
nav figure img { 
	width: 31%;
}
}