body {
	background-color: #1D8D84; 
	text-align: center;
	color: #FBF6F3;
}
header {
	background-color: #156760;
	position: fixed relative;
}
h1 {
	font-size: 4em;
	font-family: 'Bungee Hairline', cursive;
	font-weight: bolder;
	text-decoration: underline;
	padding: .3em;
}
h3 {
	font-family: 'Monoton', cursive;
	font-size: 2.5em;
	text-align: center;
	padding: .25em;
	text-decoration: underline;
}
h4 {
	text-align: left;
	font-family: 'Monoton', monospace;
	font-size: 1.5em;
	background: #FEB06A;
	border-radius: .5em;
	line-height: 1.05em;
	padding: .5em;
	margin:.5em 15em 1em 1em;
}
h4 span {
	font-family: "Sawarabi Gothic", sans-serif;
	font-size: .5em;

}
h5 {
	font-family: 'Noto Serif JP', serif;
	font-weight: bold;
	font-size: 1.5em;
	margin: .5em;
	text-align: center;
	line-height: 3em;
	padding-bottom: 2.3em;

}
h6 {
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 2em;
	color: #FEB06A;
	line-height: 1.75em;
	text-align: center;
}
p {
	font-family: 'Sawarabi Gothic', sans-serif;
	padding : 1em;
	text-align: left;
	line-height: 1.2em;

}
nav {
	font-family: 'Major Mono Display', monospace;
	text-decoration: none;
	color: #FEB06A;
}
aside {
}
#navbar #holder {
	margin: 0em 2em 0em 2em;
}

#navbar #holder ul {
	list-style: none;
	margin:0;
	padding:0;

}
#navbar #holder ul li a {
	 text-decoration: none;
	 float: left;
	 margin: 1em 1em 1em 1em;
  	 color: #FBF6F3;
 	 padding: 1.8em;
 	 display: inline-block;
 	 border:1px solid #eee;
 	 border-bottom: none;
 	 padding: 1em;
 	 text-align: center;
 	 font-weight: bold;
 	 border-radius: .5em;
}
#wrapper {
	width: 960px;
	margin: auto;
}
#titleline {
	font-family:;
	font-weight: bold;
	color: #FEB06A;
}
#two_column {
	background-color: #FFB7CF;
	border: .5em black solid;
	padding: 2em;
	height: 100%;
}
#right {
	background-color: #24B3A8;
	padding: 1em;
	float: right;
	width: 31.75%;
	height: 100%;
	margin-right: auto;
	margin-bottom: auto;
	border:1px solid #eee;
}
#left {
	background-color: #30D5C8;
	padding: 1em;
	float: left;
	width: 61.15%;
	height: 100%;
	margin-left: auto;
	margin-bottom: auto;
	border:1px solid #eee;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#follow { 
	color: #FBF6F3;
	font-family: 'Major Mono Display', monospace;
	line-height: 1em;
 }
 #username {
 	background-color: #FEB06A;
 	line-height: 2em;
 	border-radius: .5em;
 	padding: 1em;
 }
 #insta {
 	display: block;
 	
 }
 #linklogos img {
 	margin: 1em;
 	float: left;
 }
 footer {
 	display: block;
 	margin-top: 4em;
 }
 @media (max-width: 989px), (max-height: 415px) {
	body {
		font-size: 150%
}
#right {
	float:none;
	width: 100%;
}
#left {
	float:none;
	width: 100%;
	margin-top: 4em;

}
#navbar #holder ul li a {
	margin: 1em .5em 0em .5em;
	margin-bottom: 3em;
}
#insta {
	margin: 0em 3em 3em 3em;
	size: 200%;
}
}