body {
	background-color: #1D8D84; 
	text-align: center;
	color: #FFFDD0;
}
header {
	background-color: #156760;
	position: fixed relative;
	border: 2px #FEB06A solid;
}
h1 {
	font-size: 4em;
	font-family: 'Bungee Hairline', cursive;
	font-weight: bolder;
	text-decoration: underline;
	padding: .3em;
}
h3 {
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 3em;
	text-align: center;
	padding: .25em;
	text-decoration: underline;
	font-weight: bold;
	margin: 0em 4em .5em 4em;
	background-color: ;
	border-radius: .3em;
	color: #FFFDD0;
}
h4 {
	text-align: left;
	font-family: 'Monoton', monospace;
	font-size: 1.8em;
	border-radius: .5em;
	line-height: 1.05em;
	padding: .5em;
	background-color:;
	text-decoration: ;
	margin-right: 50%;
}
h4 span {
	font-family: "Sawarabi Gothic", sans-serif;
	font-size: .5em;
	text-decoration: none;
}
h5 {
	font-family: 'Noto Serif JP', serif;
	font-weight: bold;
	font-size: 1.5em;
	margin: .5em;
	text-align: center;
	line-height: 3em;
	margin-right: 1em;

}
h6 {
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 2em;
	color: #FEB06A;
	line-height: 1.75em;
	text-align: center;
}
p {
	font-family: 'Sawarabi Gothic', sans-serif;
	padding : 1em;
	text-align: left;
	line-height: 1.2em;
	font-size: 18pt;
	background-color: #156760;
	margin-bottom: 2.75em;
	border-radius: .5em;

}
nav {
	font-family: 'Major Mono Display', monospace;
	text-decoration: none;
	color: #FEB06A;
	margin: 0em 8em 0em 8em;
}
aside {
	height: 100%;
}
#navbar #holder {
	margin: 0em 2em 0em 2em;
}

#navbar #holder ul {
	list-style: none;
	margin:0;
	padding:0;

}
#navbar #holder ul li a {
	 text-decoration: none;
	 float: left;
	 margin: 1em 1em 1em 1em;
  	 color: #FFFDD0;
 	 padding: 1.8em;
 	 display: inline-block;
 	 border:1px solid #eee;
 	 border-bottom: none;
 	 padding: 1em;
 	 text-align: center;
 	 font-weight: bold;
 	 border-radius: .5em;
}
#navbar #holder ul li a:hover {
	background-color: #FEB06A;
	color: #30D5C8;
	border:.5px solid #30D5C8;
}
#wrapper {
	width: 90%;
	margin: auto;
}
#titleline {
	font-family:;
	font-weight: bold;
	color: #FEB06A;
}
#two_column {
	background-color: #FFB7CF;
	border: .5em black solid;
	padding: 2em;
	height: 100%;
}
#right {
	background-color: #24B3A8;
	padding: 1em;
	float: right;
	width: 32.5%;
	height: 100%;
	margin-right: auto;
	margin-bottom: auto;
	border:2px solid #FEB06A;
	min-height: 30em;
}
#left {
	background-color: #30D5C8;
	padding: 1em;
	float: left;
	width: 60%;
	height: 100%;
	margin-left: auto;
	margin-bottom: auto;
	border:2px solid #FEB06A;
	min-height: 30em;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	margin-top: 4em;
}
#follow { 
	color: #FBF6F3;
	font-family: 'Major Mono Display', monospace;
	line-height: 1em;
 }
 #username {
 	background-color: #FEB06A;
 	line-height: 1em;
 	border-radius: .5em;
 	padding: 1em;
 	margin-bottom: 2em;
 }
 #insta {
 	display: block;

 }
 #linklogos {
 	text-align: : center;
 	margin-left: 4em;
 	margin-top: 4em;
 	
 }
 #linklogos img {
 	float: left;
 	width: 17%;
 	padding: .2em .2em;
 }
 #insta img {
 	fill: #FEB06A;
 	align-content: center;
 }
 #youtube img {
 	width: 65%;
 	float: right;
 	margin-right: 30%;
 }
 footer {
 	display: block;
 	margin-top: 4em;
 	
 }
 @media (max-width: 989px), (max-height: 415px) {
	body {
		font-size: 150%
}
#right {
	float:none;
	width: 100%;
}
#left {
	float:none;
	width: 100%;
	margin-top: 4em;

}
nav {
	margin: 0em 2em 0em 2em;
}
#navbar #holder ul li a {
	margin: .1em .2em 0em .2em;
	font-size: 100%;
	float: left;
}
#linklogos img{
	width: 15%;
	display: inline-block;
	float: left;
}
#linklogos {
	margin-left: 8em;
}
#youtube img{
	width: 35%;
	float: none;
}
#greenbass img {
	width: 5%;
}
}