body {
	background-size: cover;
	background-color: #AAAE;
	text-align: center;
	background: url(../images/rbbackgrounddesktop.png) no-repeat center fixed;
	background-position: 0 0;

}
#wrapper {
	width: 960px;
	margin: 0 auto;
}
div.space {
	height: 8em;
}
div.section1 {
	height: 15em;
}
div.section2 {
	height: 54em;
	width: 100%;
	border-radius: 2em;
}
div.section3 {
	padding-top: .1em;
	height: 3em;
	background: url(../images/prettybathroom.jpg) no-repeat center center fixed;
	border-radius: 2em;
}
h1 {
	font-family: 'Playfair Display SC', Serif;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-weight: bolder;
	text-decoration: underline;
	font-size: 4em;
	color: #50C878;
	padding-top: 1em;
	position: relative;
	margin: auto;
	border-radius: 2em;
}
h2 {
	font-family: 'El Messiri', sans-serif;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-weight: bold;
	font-size: 2.5em;
	text-decoration: none;
	color: #50C878;
	position: relative;
	padding-top: 4em;
	padding-bottom: 4em;
	line-height: 150%;
	margin: 2em;
	border: 2em;
}
hr {
	margin: 1em 1em 0 1em;
	color: #50C878;
}
h3 {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: #50C878;
	font-family: "Playfair Display SC", Serif;
	text-decoration: underline;
	font-weight: bolder;
	font-size: 3em;
	line-height: 1em;
	margin: 1em;
}
h4 {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: #FFFA;
	font-weight: bold;
	font-style: italic;
	font-size: 2em;
	padding-bottom: 2em;
}
h5 {
	font-family: "El Messiri", sans-Serif;
	color: #50C878;
	font-style: italic;
	text-decoration: underline;
	font-size: 1.2em;
	text-align: left;
}
p {
	padding-top: .5em;
	padding-left: 1em;
	padding-right: 1em;
	color: #FFFD;
	font-family: 'El Messiri', sans-Serif;
	font-size: 1.5em;
	text-align: left;
	position: relative;
	line-height: 1.5em;
	margin: 1em;
	background-color:#50C878;
	border-radius: 2em
	
}
div.postcontent {
	text-align: center;
	width: 100%;
	padding-bottom: 2em;
	position: relative;
	margin-bottom: 2em
}
div.postcontent div {
	float: left;
	height: 20em;
	margin-bottom: 1em;
}
div.bathroom {
	border: 2px solid #ddd;
	border-radius: 2em;
	width: 65%;
	height: 300px;
	overflow: hidden;
} 
div.stars {
	width: 34%;
	height: 300px;
	border-radius: 2em;
	border: 2px solid #ddd;
	overflow: hidden;
}
.article {
	
}
@media (min-width: 1120px), (min-height: 630px) {
	body {
		background: url(../images/rbbackgroundmobile.png) no-repeat center fixed;
		background-color: #EEEA;
		font-size: 200%;
}