div.space {
	height: 150px;
}
div.section1 {
	height: 150px;
}
div.before {
	position: absolute;
	height: 20%;
	width: 150px;
	background-color: #DDD;
	right: 50%;
	bottom: 3;
	transform: skew(0, 20deg);
}
div.after {
	position: absolute;
	height: 20%;
	width: 150px;
	background-color: #DDD;
	left: 50%;
	bottom: 3;
	transform: skew(0, -20deg);
}
div.before2 {
	position: absolute;
	height: 20%;
	width: 150px;
	background-color: #888C8D;
	right: 50%;
	bottom: 300;
	transform: skew(0, -20deg);
}
div.after2 {
	position: absolute;
	height: 20%;
	width: 150px;
	background-color: #888C8D;
	left: 50%;
	bottom: 300;
	transform: skew(0, 20deg);
}
div.section2 {
	padding-top: 240px;
	height: 540px;
	background: url(../images/prettybathroom.jpg) no-repeat center center fixed;
	width: 100%;
	border-radius: 20px
}
h1 {
	font-family: "Bodoni", Serif;
	text-align: center;
	font-weight: bolder;
	text-decoration: none;
	text-transform: unset;
	font-size: 500%;
	color: #000;
	padding-top: 25px;
	padding-bottom: 25px;
	position: relative;
}
h2 {
	font-family: "Helvetica", sans-Serif;
	text-shadow: 4px solid black;
	font-weight: bold;
	font-size: 50px;
	text-decoration: none;
	color: #FFFA;
	position: absolute;
	padding-bottom: 240px;
	line-height: 150%
	margin: 200px;
}
hr {
	color: black;
	border-radius: 1px solid #000;
}
h3 {
	padding-top: 100px;
	font-family: "Bodoni", Serif;
	text-align: left;
	text-decoration: underline;
	font-weight: bold;
	color: #000E;
	font-size: 60px;
	line-height: 1px;
}
h4 {
	font-weight: bold;
	font-style: italic;
	padding-top: 250px
}
p {
	font-family: "Helvetica", sans-Serif;
	color: #000E;
	font-style: italic;
	text-decoration: underline;
	font-size: 12px;
	text-align: left;
}
body {
	background-size: cover;
	background-color: #DDD;
	text-align: center;
}
div.postcontent {
	padding-top: 10spx;
	text-align: center;
	width: auto;
	padding-bottom: 15px;
}
div.postcontent div {
	float: left;
	height: 300px;
}
div.bathroom {
	border: 2px solid #ddd;
	border-radius: 10px;
	width: 65%;
	height: 300px;
	position: absolute fixed;
	overflow: hidden;
} 
div.stars {
	width: 34%;
	height: 150px;
	border-radius: 10px;
	border: 2px solid #ddd;
	overflow: hidden;
}
.article {
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	color: black;
	font-family: "Helvetica", sans-serif;
	font-size: 40px;
	text-align: left;
	height: 300px;
	position: absolute;
	line-height: 50px;
	margin: 35px;
}
