body {
	background-image: url("unit_3/images/examplebathroom.jpg");
	background-size: cover;
	background-color: rgba(000,125,125,.5);
}
h1 {
	font-family: "Magneto", monospace;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	text-transform: unset;
	font-size: 65px;
	color: #ED2939;
}
h2 {
	font-family: "Papyrus", monospace;
	text-align: center;
	font-style: italic;
	text-decoration: none;
	color: #F51B00;
}
hr {
	color: #F08080;
}
p {
	font-family: "Courier New", monospace;
	text-align: center;
	color: #F0F055;
}
#article1 {
	background-color: rgba(144,238,144,.1);
}
#bathroom1 {
	text-align: center;
}